@font-face{
    font-family: my-font;
    src: url("../public/images/Minecraft.ttf");
}

body{
    background-image: url(../public/images/wallpaper.png);
    font-family: my-font;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    overflow: hidden;
    background-color: #3f79cffa;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.navbar a:hover{
    background-color: rgb(35, 77, 139);
}

.home{
    background-color: rgb(35, 77, 139);
    color: white;
    position: sticky;
    bottom: 5px;
    left: 45%;
    width: 10%;
    font-size: 20pt;
    padding: 15px;
    margin: 60px;
}

td, th{
    margin-left: 10px;
    margin-right: 10px;
}